.header-container {
    background-color: black;
    display: flex;
    justify-content: space-around;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

}
.head-container {
    height: 70px;
}
.head-items {
    display: flex;
    flex-direction: row;
    gap: 30px;
    color: wheat;
}
.logo-image {
    height: 100%;
    width: 70px;
    padding-right: 1000px;
    padding-bottom: 10px;
    object-fit: contain;
}
.head-items li {
    list-style: none;
    font-size: 20px;
}