
   .login {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    

}
.login-page {
    height: 100vx;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;
    gap: 10px;
    background-image: url("https://imgeng.jagran.com/images/2023/nov/TwinklingWatermelon1699898756848.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
}
.data {
    
  

    height: 500px;
    width: 300px;
    border: 2px solid rgb(247, 3, 3);
    background-color: rgb(219, 148, 187);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 10px 10px 10px 10px red;
margin-top:300px;


}
.button {
    display: flex;
    width: 100%;
    justify-content: center;
}
.data input {
    border: none;
    border-radius: 5px;
    font: bolder;
    height: 25px;
}
.data label {
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-style: bolder;
}
