.signup {
    height: 500px;
    width: 500px;
    border: 2px solid black; 
    background-color: silver;
    box-shadow: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top:125px;
}
.signup-page {
    height: 100vx;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;
    gap: 10px;
    background-image: url("https://i.pinimg.com/originals/19/8b/2f/198b2f01e73b905772279616eccc7c65.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
}
.data {
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;

}
.button {
    display: flex;
    width: 100%;
    justify-content: center;
}
.data input {
    border: none;
    border-radius: 5px;
    font: bolder;
    height: 25px;
}
.data label {
    color: black;
    font-family: Arial;
}.button button{
    height:30px;
    width:100px;
    border-radius: 5px;
    border: none;
    background-color: rgb(199, 155, 222);
    color: white;
    
   

}


/*.outer{

    background-color : black;
    height : 500px;
    width : 500px;
    position: fixed;
    top:0px;
}
.inner{
    background-color : white;
    height : 100px;
    width : 100px;
    
}*/
