
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #fafafa;
    font-family: Arial, sans-serif;
}

.box {
    width: 350px;
    border: 1px solid #dbdbdb;
    padding: 40px 35px;
    text-align: center;
    border-radius: 5px;
    background:white;
}

.logo {
    font-size: 40px;
    margin-bottom: 25px;
}

.box input {
    width: 100%;
    padding: 12px;
    margin: 6px 0;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    background: #fafafa;
}

.login-btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: #0095f6;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.or {
    margin: 15px 0 5px;
    color: gray;
    font-size: 14px;
}

.fb {
    text-decoration: none;
    font-weight: bold;
    color: #385185;
    display: block;
    margin-bottom: 8px;
}

.forgot {
    text-decoration: none;
    font-size: 13px;
    color: #00376b;
}
