

.calculator{
width: 500px;
height: 100px;
border: 2px solid black;
border-radius: 20px;
margin-left: 550px;
background-color: silver;
}

.main{
 width: 500px;
height: 500px;
border: 2px solid black;
border-radius: 20px;
gap: 10px; 
margin-left: 550px;
margin-top: 15px;
background-color:rgb(10, 30, 31);
}
.display button{
height: 95px;
width: 100px;
margin-left: 20px;
margin-top: 20px;
border-radius: 25px;
}

.calculator input{
    width: 500px;
height: 100px;
border-radius: 25px;
background-color: gray;
margin-right: 2px;
}